.addList{
    margin: 200px;
    width: 300px;
    padding:20px;
    display: flex;
    flex-direction: column;

}
.hero{
    max-width: 100%;
    min-height: 800px;
    background-image: linear-gradient(rgb(242, 92, 84,.4),rgb(242, 92, 84,.4)), url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.callout{
    padding-top: 200px;
    display: flex;
    justify-content: center;
}
.circle{
    width: 360px;
    height: 360px;
    border-radius: 100%;
    background-color: #FFD972;
    box-shadow:0 10px 6px rgb(0, 0, 0, .16) ;
    position: absolute;
}
.title{
    font-size: 24px;
    font-family: CaveatB;
    margin-left: 100px;
    margin-top:100px ;

}
.circle p{
    width: 165px;
    font-size: 13px;
    font-family: LatoR;
    margin-left: 100px;
    margin-top: 30px;

}
.subCircle{
    width: 165px;
    height: 165px;
    border-radius: 100%;
    background-color: #FCBCB8;
    box-shadow:0 10px 6px rgb(0, 0, 0, .16) ;
    margin-top: -60px;
    margin-left: 300px; 
    position: relative;
}
.subCircle p{
    width: 105px;
    margin-top: 60px;
    margin-left: 40px;
    font-family: LatoIt;
    font-size: 10px;
}
